
{% extends "garage/base.html"%}
{% block content %}
    <h1 class="mb-3">Car's created by {{ view.kwargs.username }} ({{ page_obj.paginator.count }})</h1>
    {% for car in my_list %}
    <article class="media content-section">
        <div class="media-body">
          <div class="article-metadata">
            <a class="mr-2" href="{% url 'user-cars' car.staff.username %}">{{ car.staff }}</a>
            <small class="text-muted">{{ car.date_received|date:"j/n/Y" }}</small>
          </div>

          <div class="container">
            <div class="row">

              <div class="col-sm">
                <h2><a class="article-title" href="{% url 'car-detail' car.car_id %}">{{ car.owner }}</a></h2>
                <p class="article-content">{{ car.car_brand.car_name }}</p>
              </div>
    
              <div class="col-sm">
                <ul>
                  <li>{{ car.owner }}</li>
                  <li>{{ car.phone_number }}</li>
                  <li>{{ car.license_plate}}</li>
                </ul>
              </div>

            </div>
          </div>

        </div>
      </article>
    {% endfor%}

    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}

